.loginForm {
    position: relative;

    .checkbox {
        display: flex;
        gap: 1rem;
    }

    .error {
        position: absolute;
        top: -18px;
        left: 0;
        font-size: 1.2rem;
        color: #ea2f64;
    }
}
