.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  overflow: hidden;
  background-color: var(--color-secondary);
  border-radius: 2rem;

  .logo {
    height: 6rem;
  }

  a {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    background-color: #414141;
    border-radius: 5rem;

    &.active {
      color: var(--color-primary);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      margin-bottom: -2px;
    }
  }
}