.sidebar {
  grid-area: sidebar;
  font-size: 1.6rem;
  color: white;
  background-color: var(--color-secondary);
  border-radius: 2rem;

  .nav {
    padding: 2rem;
    list-style: none;

    .item {
      margin-bottom: 1rem;

      a {
        color: inherit;
        text-decoration: none;

        &.active {
          color: var(--color-primary);
        }
      }
    }
  }
}