.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .userImg {
    border-radius: 50%;
  }

  .message {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-secondary-light);
    border-radius: 1rem;

    p {
      color: var(--color-secondary-dark);
    }

    span {
      opacity: 0.5;
      font-size: 1.2rem;
      color: var(--color-secondary-dark);
    }
  }
}

