.App {
    max-width: 120rem;
    display: grid;
    grid-auto-columns: minmax(10rem, 16rem) 1fr;
    gap: 2rem;
    grid-template-areas:
        'header header'
        'sidebar content';
    margin: 0 auto;
    padding: 1rem;

    .content {
        grid-area: content;
        font-size: 1.6rem;
        color: white;
    }
}
