:root {
    --color-primary: #ea2f64;
    --color-primary-light: #ff2c60;
    --color-primary-dark: #b02d59;

    --color-secondary: #333333;
    --color-secondary-light: #eeeeee;
    --color-secondary-dark: #1e1f24;


}

$bp-largest: 75rem; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-secondary-dark);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
